[user]
	name = Bairu Song
	email = 238927804+BarryS27@users.noreply.github.com
[core]
	editor = code --wait
	autocrlf = input
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %s %C(blue)- %an, %ar%Creset' --abbrev-commit
[color]
	ui = auto
[include]
	path = ~/.gitconfig.local
